@charset "UTF-8";

:root{
    --MenuColor: #f1f1f1;
    --MenuColorHover: #ababab;
    --ColorTxt: #f1f1f1;
    --ColorBTNjogar: #00f08e;
    --ColorBlack: #000;
    --ColorWhite: #fff;
<<<<<<< HEAD
}

/* Gerais*/

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Header */
=======
}
>>>>>>> 2fad927b026e4bf767088815953aa8372c2badaa
