@charset "UTF-8";

:root{
    --MenuColor: #f1f1f1;
    --MenuColorHover: #ababab;
    --ColorTxt: #f1f1f1;
    --ColorBTNjogar: #00f08e;
    --ColorBlack: #000;
    --ColorWhite: #f1f1f1;
    --background: #1b1010b2;
    --background2: #8380809f;
}

.light-mode{
    --MenuColor: #0c0c0c;
    --MenuColorHover: #5df0da;
    --ColorTxt: #000000;
    --ColorBTNjogar: #076942;
    --ColorBlack: #ffffff;
    --ColorWhite: #000000;
    --background: #d2d2d2b2;
    --background2: #fefbfb9f;

    header{
        background-color: #f1f1f1;
    }
}

body{
    background-color: var(--background);
}

/* Main*/

.container-main-topo{
    position: relative;
    height: 100vh;
    background-image: url(../images/backgound.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 20px 30px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

.container-desfoque{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}

.container-main-topo .flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campoMinado{
    display: none;
}

.adivinhacao{
    display: none;
}

.textos-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 250px;
}

.textos-main .textBox{
    width: 40%;
}

.textos-main .textBox h1{
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 10px 0;
    color: var(--ColorTxt);
   
}

.textos-main .textBox .titulo{
    background-color: #00000063;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.textos-main .textBox p{
    font-size: 1rem;
    text-align: justify;
    margin: 20px 0;
    color: var(--ColorTxt);
}

.btn{
    background-color: var(--ColorBTNjogar);
    color: var(--ColorWhite);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 1s;
}

.btn:hover{
    background-color: var(--ColorBlack);
    color: var(--ColorWhite);
    transform: scale(1.1);
}

.textos-main .img-box img{
    width: 400px;
}

.thumb ul{
    position: absolute;
    display: flex;
    bottom: 20px;
    transform: translateX(-50%);
}

.thumb ul li{
    list-style: none;
    display: inline-block;
    margin:0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb ul li:hover {
    transform: translateY(-15px);
}

.thumb ul li img {
    max-width: 60px;
}

/* container-main-meio */


.container-main-meio .flex{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.container-main-meio .txt-Jogos h1{
    font-size: 2rem;
    font-weight: bolder;
    margin: 10px 0;
    color: var(--ColorTxt);

}
.container-main-meio .interface{
    padding: 80px 4%;
}

.container-main-meio .card-jogos{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    width: 100%;
    
}

.container-main-meio .card-jogos .cards{
    text-align: center;
    border: 1px solid var(--ColorBlack);
    padding: 50px;
    border-radius: 40px;
    transition: 0.7s;
}

.container-main-meio .card-jogos .cards:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: none;
}

.container-main-meio .card-jogos .cards img{
    width: 120px;
}

.container-main-meio .card-jogos .cards .img-cards{
    margin: 30px 0;
}

.container-main-meio .card-jogos .cards .txt-card h4{
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 10px 0;
    color: var(--ColorTxt);
}


/* container-main-final */

.container-main-final{
    background-color: var(--background2);
    box-shadow: 0 0 20px 30px rgba(0, 0, 0, 0.185);
    box-shadow: inset 0 0 20px 30px rgba(0, 0, 0, 0.185);

}

.container-main-final .interface{
    padding: 80px 4%;
}

.container-main-final .flex{

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;

}

.container-main-final .txt-geral{
    border: 2px solid var(--ColorBlack);
    padding: 30px;
    border-radius: 10px 30px 30px 30px;
}

.container-main-final .txt-geral h1{
    font-size: 2rem;
    font-weight: bolder;
    margin: 30px 0;
    color: var(--ColorTxt);
    text-align: center;
}

.container-main-final .txt-geral p{
    font-size: 1rem;
    text-align: justify;
    margin: 20px 0;
    color: var(--ColorTxt);
}


/* Footer */

.container-footer{
    background-color: var(--background);
}

.container-footer .interface{
    padding: 50px 4%;
}
.container-footer .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-footer .footerLogo a{
    text-decoration: none;
    color: var(--ColorTxt);
    font-size: 2rem;
    font-weight: bolder;
}

.container-footer .footerInformacoes h3{
    color: var(--ColorTxt);
    font-size: 1rem;
    font-weight: 700;
    margin: 30px 0;
}

.container-footer .footerInformacoes i:hover{
    transform: scale(1.1);
}

.container-footer .footerInformacoes ul{
    display: flex;
    gap: 50px;
}

.container-footer .footerInformacoes ul li a img{
    width: 30px;
}

.container-footer .colaboradores h3{
    color: var(--ColorTxt);
    font-size: 1rem;
    font-weight: 700;
    margin: 10px 0;
}

.container-footer .colaboradores a{
    text-decoration: none;
    color: var(--ColorTxt);
    font-size: 0.8rem;
    font-weight: 300;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.8s;
}

.container-footer .colaboradores a:hover{
    color: var(--MenuColorHover);
    text-decoration: underline;
}

.container-footer p{
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 12px;
}

.footerInformacoes i{
    font-size: 1.7rem;
    color: black;
}